h1 {
    padding: 1%;
}

h3 {
    font-size: 35px;
}

li {
    margin-top: 5%;
}

.form-width {
    width: 80% !important;
}

.search-container {
    padding: 2%;
}

.search-button {
    margin-left: 2%;
    margin-bottom: 5%;
}

.display-flex {
    flex-basis: 60%;
    flex-direction: column;
}

.search-flex {
    flex-basis: 30%;
    flex-direction: column;
}

.forecast-area {
    height: 175px;
    border: 3px solid black;
    margin-top: 3%;
    margin-right: 5%;
}

.day-area {
    height: 225px;
    margin-top: 3%;
    margin-right: 5%;
}

.flex {
   display: flex;
}

.flex5day {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
 }

.boxStyle {
    flex-basis: 19%;
    width: inherit;
    height: inherit;
    border: 3px solid black;
    background-color: rgb(27, 209, 233);
}

.iconSmall {
    width: 30px;
    height: 30px;
}

.iconBig {
    width: 45px;
    height: 45px;
}

#cityDetail {
    margin-left: 3%;
}

.hide {
    display: none;
}